*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    text-align: center;
    background-size: 50%;
    background-repeat: repeat;
    background-image: url("/static/image/blog/bg.jpg");
}
a{
    color: #0f0f0f;
    font-size: 12px;
    font-family: Arial, "Microsoft Himalaya", 黑体, 宋体, sans-serif;
    font-style: normal;
    font-color: #ofofof;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
#content{
    width: 100%;
    position: absolute;
    top: 10%;
}
#content-middle{
    width: 60%;
    padding-top: 30px;
    padding-bottom: 50px;
    background-color: #fefefe;
    border-radius: 5px;
}