*{
    margin: 0;
    padding: 0;
    border: 0;
}
body{
    text-align: center;
    background-size: 20%;
    background-repeat: repeat;
    background-image: url("/static/image/blog/bg6.jpg");
}
.blog-titles{
    width: 60%;
    padding-top: 30px;
    padding-bottom: 50px;
    position: relative;
    left: 10%;
}