<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>黄爱伟的日志</title>
    <link href="/static/primary/plugins/bootstrap-3.3.0/dist/css/bootstrap.min.css" rel="stylesheet" style="text/css"/>
    <link href="/static/primary/plugins/bootstrap-3.3.0/dist/css/bootstrap-theme.min.css" rel="stylesheet"
          style="text/css"/>
    <link href="/static/primary/customer/css/blog.css" rel="stylesheet" style="text/css"/>
    <link href="/static/primary/customer/css/write_blog.css" rel="stylesheet" style="text/css"/>
</head>
<body>
{{ nav_bar }}

{{ write_blog }}

{{ blog_list }}


<script src="/static/primary/core/js/require.js" data-main="/static/primary/customer/js/main"></script>
<script type="application/javascript" src="/static/primary/core/js/jquery-3.1.1.min.js"></script>
<script type="application/javascript" src="/static/primary/plugins/bootstrap-3.3.0/dist/js/bootstrap.min.js"></script>
<script>
    require(['write_blog']);
</script>
</body>
</html>