<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>黄爱伟的日志</title>
    <link href="/static/primary/plugins/bootstrap-3.3.0/dist/css/bootstrap.min.css" rel="stylesheet" style="text/css" />
    <link href="/static/primary/plugins/bootstrap-3.3.0/dist/css/bootstrap-theme.min.css" rel="stylesheet" style="text/css" />
    <link href="/static/primary/customer/css/blog.css" rel="stylesheet" style="text/css" />
</head>
<body>
{{ nav_bar }}

<div class="panel panel-default">
  <div class="panel-body">
    <form action="/save_blog" method="post" role="form">
        <div class="form-group">
          <label for="title">标题：</label>
          <input type="text" id="title" name="title" class="form-control" style="width: 80%" placeholder="请输入标题"/>
        </div>
        <div class="form-group">
          <label for="content">内容：</label>
          <textarea rows="8" cols="50" id="content" class="form-control" style="width: 80%" placeholder="请输入内容"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">提交</button>
    </form>
  </div>
</div>




<script src="/static/primary/core/js/require.js" data-main="/static/primary/customer/js/main"></script>
<script type="application/javascript" src="/static/primary/core/js/jquery-3.1.1.min.js"></script>
<script type="application/javascript" src="/static/primary/plugins/bootstrap-3.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>