{% extends 'base.html' %}
{% block title %}
    黄爱伟的个人网站 - Huang AiWei's Personal Website
{% endblock %}
{% block style %}
    <link rel="stylesheet" href="/static/primary/customer/css/home.css" type="text/css">
{% endblock %}
{% block content %}
    <div id="container">
        <div id="container-inner">
            <div id="header">
                <div id="header-inner">
                    <div id="header-content">
                        <h2>黄爱伟的个人网站</h2>
                        <p>Huang AiWei's Personal Website</p>
                    </div>
                    <hr>
                </div>
            </div>
            <div id="content">
                <div id="content-inner">
                    <div id="alpha">
                        <div id="alpha-inner">
                            <div id="page-alpha">
                                <p>»
                                    <a href="{% url 'blog' %}">Blog</a> /
                                    <a href="#">About</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div id="beta">
                        <div id="beta-inner"></div>
                    </div>
                </div>
            </div>
            <div id="footer">
                <div id="footer-inner">
                    <div id="footer-content">
                        <p></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}